<h1>Your Week In Review</h1>
<p>Here&apos;s a quick rundown of the key data points from <a href="<%= @web_url %>/app/sites/<% @site.id %>/dashboard"><%= @site.name %></a> last week:</p>

<p><b>Overview</b></p>
<p>Total visitirs: <%= @data[:total_visitors] %> <i>(<%= @data[:new_visitors] %> new)</i><br />
Total recordings: <%= @data[:total_recordings] %> <i>(<%= @data[:new_recordings] %> new)</i><br />
Average session duration: <b><%= @data[:average_session_duration] %></b> <i>trending TODO ICON <%= @data[:average_session_duration_trend] %></i><br />
Pages per session: <b><%= @data[:pages_per_session] %></b> <i>trending TODO ICON <%= @data[:pages_per_session_trend] %></i><br />

<p><b>Trends</b></p>
<p>Busiest day: <b><%= @data[:busiest_day] %></b><br />
#1 indirect traffic source: <a href="<%= @data[:biggest_referrer_url] %>"><%= @data[:biggest_referrer_url] %></a><br />
#1 country: <b><%= @data[:most_popular_country] %></b><br />
#1 browser: <b><%= @data[:most_popular_browser] %></b><br />
Most popular visitor: <a href="<%= @web_url %>/app/sites/<%= @site.id %>/visitors/<%= @data[:most_popular_visitor_id] %>"><%= @data[:most_popular_visitor_id] %></a><br />
Most popular page: <a href="<%= @data[:most_popular_page_url] %>"><%= @data[:most_popular_page_url] %></a></p>
