<h1>Your Week In Review</h1>
<p>Here&apos;s a quick rundown of the key data points from <a href="<%= squeaky_url("/app/sites/#{@site.id}/dashboard") %>"><%= @site.name %></a> last week:</p>

<p><b>Overview</b></p>
<p>Total visitors: <a href="<%= squeaky_url("/app/sites/#{@site.id}/visitors") %>"><%= @data[:total_visitors] %></a> <i style="color:#A0A0A0">(<%= @data[:new_visitors] %> new)</i><br />
Total recordings: <a href="<%= squeaky_url("/app/sites/#{@site.id}/recordings") %>"><%= @data[:total_recordings] %></a> <i style="color:#A0A0A0">(<%= @data[:new_recordings] %> new)</i><br />
Average session duration: <b><%= @data[:average_session_duration][:formatted] %></b> <%= render 'shared/trend', locals: @data[:average_session_duration_trend] %><br />
Pages per session: <b><%= @data[:pages_per_session][:formatted] %></b> <%= render 'shared/trend', locals: @data[:pages_per_session_trend] %></p>

<p><b>Trends</b></p>
<p>Busiest day: <b><%= @data[:busiest_day] %></b><br />
#1 indirect traffic source: <a href="<%= @data[:biggest_referrer_url] %>"><%= @data[:biggest_referrer_url] %></a><br />
#1 country: <b><%= @data[:most_popular_country] %></b><br />
#1 browser: <b><%= @data[:most_popular_browser] %></b><br />
Most frequent visitor: <a href="<%= squeaky_url("/app/sites/#{@site.id}/visitors/#{@data[:most_popular_visitor][:id]}") %>"><%= @data[:most_popular_visitor][:visitor_id] %></a><br />
Most popular page (exc. home): <a href="<%= @site.url %><%= @data[:most_popular_page_url] %>"><%= @site.url %><%= @data[:most_popular_page_url] %></a></p>

<% if @data[:feedback_nps][:enabled] || @data[:feedback_sentiment][:enabled] %>
  <p><b>Feedback</b></p>
  <p>
    <% if @data[:feedback_nps][:enabled] %>
      NPS: <a href="<%= squeaky_url("/app/sites/#{@site.id}/feedback/nps") %>"><%= @data[:feedback_nps][:score] %></a> <%= render 'shared/trend', locals: @data[:feedback_nps_trend] %><br />
    <% end %>
    <% if @data[:feedback_sentiment][:enabled] %>
      Sentiment: <a href="<%= squeaky_url("/app/sites/#{@site.id}/feedback/sentiment") %>"><%= @data[:feedback_sentiment][:score] %></a> <%= render 'shared/trend', locals: @data[:feedback_sentiment_trend] %>
    <% end %>
  </p>
<% end %>
