<h1>Contact</p>
<p>Name:<br><%= @details[:first_name] %> <%= @details[:last_name] %></p>
<p>Email:<br><%= @details[:email] %></p>
<p>Subject:<br><%= @details[:subject] %></p>
<p>Message:<br><%= @details[:message] %></p>
