<h1>Partners</p>
<p>Name:<br><%= @details[:first_name] %> <%= @details[:last_name] %></p>
<p>Email:<br><%= @details[:email] %></p>
<p>Company name:<br><%= @details[:name] %></p>
<p>Description:<br><%= @details[:description] || '-' %></p>
<p>Number of clients:<br><%= @details[:client_count] || '-' %></p>
