<h1>Startups</p>
<p>Name:<br><%= @details[:first_name] %> <%= @details[:last_name] %></p>
<p>Email:<br><%= @details[:email] %></p>
<p>Company name:<br><%= @details[:name] %></p>
<p>Number of years active:<br><%= @details[:years_active] || '-' %></p>
<p>Monthly traffic:<br><%= @details[:traffic_count] || '-' %></p>
